#root {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

body {
    background-color: rgb(98, 96, 96);
    color: rgb(245, 245, 245);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.titulo {
    color: #fff;
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: 800;
    display:inline-block;
    width: 100%;
}

.container {
    background-color: rgb(98, 108, 109);
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: black 3px solid;
    border-radius: 20px;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
   
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    margin-left: 8px;

}

.novoBotao {
    font-size: 1.5rem;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
}

.imagem {
    display: flex;
}